@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('./Radiantantique-2reo.ttf') 
  }

body {
    background-color: #BFC8AD; 
}

.mother {
    display: flex;
    /* border-style: double;
    border-color: black; */
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-size: 2rem;
}
.discards {
    display: flex;
    justify-content: space-around;
}
.p1card {
    width: 50px;
    height: 100px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
}

.p2card {
    width: 50px;
    height: 100px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
}

.rounds {
    display: flex;
    justify-content: center;
}

.rounds_left {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
}

.button1 {
    color: white;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: black;
    padding: 4px 30px;
}

.button2 {
    color: white;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: black;
    padding: 4px 30px;
}

.p2-discard {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1-discard {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}