body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/034/737/non_2x/day-in-vast-western-american-desert-with-cactus-horizon-landscape-illustration-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.mother {
    display: flex;
    justify-content: center;
    gap: 150px;
    text-align: center;
    font-size: 20px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Rye';
    font-size: 3rem;
    color: green;
    margin: 25px;
}
.discards {
    font-family: 'Rye';
    display: flex;
    justify-content: center;
    gap: 200px;
    color: black;
    margin: -40px;
}
.p1card {
    font-family: 'Rye';
    width: 200px;
    height: 300px;
    border-radius: 5px;
    border-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    color: darkgreen;
    margin: 20px;
    background-color: white;
}

.p2card {
    font-family: 'Rye';
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    color: darkgreen;
    margin: 20px;
    background-color:white;
}

.rounds {
    font-family: 'Rye';
    display: flex;
    justify-content: center;
    color: black;
}

.rounds_left {
    font-family: 'Rye';
    width: 50px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: black;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.button1 {
    display: flex;
    justify-content: center;
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: 'Rye',-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button1:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(0deg);
    }


.button2 {
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: 'Rye',-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button2:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(0deg);
    }

.p2-discard {
    font-family: 'Rye';
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.p1-discard {
    font-family: 'Rye';
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.winners {
    font-family: 'Rye';
    display: flex;
    justify-content: center;
    color: white;
}

.cardone, .cardtwo {
    font-family: 'Rye';
    color: black;
}